/*
start by reseting all elements to have no margin or padding
*/
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  gap: 0.3rem;
  grid:
    "header" min-content
    "main" auto
    "footer" min-content;
}

@media screen and (min-width: 400px) {
  .App {
    grid:
      "header header" min-content
      "main main" auto
      "footer footer" min-content;
  }
  .skills {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 600px) {
  .App {
    grid:
      "header header header" min-content
      "main main main" auto
      "footer footer footer" min-content / 1fr 1fr 1fr;
  }

  .skills {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 800px) {
  .App {
    grid:
      ". . header header header header . ." min-content
      ". . main main main main . ." auto
      ". . footer footer footer footer . ." min-content;
  }
  main {
    width: 50rem;
  }
  .large-menu {
    display: block !important;
  }
  .small-menu {
    display: none !important;
  }
  .skills {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

header {
  grid-area: header;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-menu {
  display: none;
}
.small-menu {
  display: inline-block;
  width: 5rem;
  margin: 1rem;
}

main {
  grid-area: main;
  justify-self: center;
}

.skills {
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 0.2rem;
}

.skills * {
  grid-column: span 1;
}

footer {
  grid-area: footer;
  color: rgb(45, 213, 255);
}

.text {
  margin: 0.3rem;
  padding: 0 1rem;
}
