/*
start by reseting all elements to have no margin or padding
*/
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content 1fr min-content;
}

header {
  background-color: lightgray;
  grid-column-start: 1;
  grid-column-end: -1;
}

main {
  background-color: lightskyblue;
  grid-column-start: 4;
  grid-column-end: -1;
}

nav {
  background-color: linen;
  grid-column-start: 1;
  grid-column-end: 4;
}

footer {
  background-color: lightgray;
  grid-column-start: 1;
  grid-column-end: -1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
