/*
start by reseting all elements to have no margin or padding
*/
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.App {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: grid;
  grid:
    "header" min-content
    "main" auto
    "footer" min-content;
}

header {
  grid-area: header;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-menu {
  display: none;
}
.small-menu {
  width: 3rem;
  margin: 0.5rem;
}

main {
  margin-top: 1rem;
  grid-area: main;
  justify-self: center;
}

.home {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.jumbo-font {
  font-size: 1.8rem;
  line-height: 2.5rem;
  padding: 0.5rem;
  animation: slide-right 1.2s forwards;
}

.foto-frame {
  opacity: 0;
  animation: slide-up 1.2s forwards;
}

.skills {
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 0.2rem;
}

.skills * {
  grid-column: span 1;
}

.skill-card {
  opacity: 0;
  animation: fade-in 0.6s forwards;
}

.contact-card {
  padding: 1rem;
  opacity: 0;
  animation: slide-up 1s forwards;
  -webkit-animation: slide-up 1s forwards;
}

footer {
  grid-area: footer;
  padding: 1rem;
}

@media screen and (min-width: 300px) {
  .App {
    grid:
      "header header" min-content
      "main main" auto
      "footer footer" min-content;
  }
  .skills {
    grid-template-columns: 1fr 1fr;
  }
  .jumbo-font {
    font-size: 2rem;
    line-height: 2rem;
  }
  .foto-frame {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 500px) {
  .App {
    grid:
      "header header header" min-content
      "main main main" auto
      "footer footer footer" min-content / 1fr 1fr 1fr;
  }
  .skills {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .small-menu {
    width: 4.5rem;
    margin: 1rem;
  }
  .jumbo-font {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 700px) {
  .App {
    grid:
      ". . header header header header . ." min-content
      ". . main main main main . ." auto
      ". . footer footer footer footer . ." min-content;
  }
  main {
    width: 40rem;
  }
  .large-menu {
    display: block;
  }
  .small-menu {
    display: none;
  }
  .skills {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .home {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-top: 2rem;
  }
  .jumbo-font {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  .foto-frame {
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 1200px) {
  main {
    width: 50rem;
  }
  .jumbo-font {
    font-size: 2.6rem;
    line-height: 4rem;
  }
  .foto-frame {
    margin-left: 2rem;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide_up {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }
  to {
    opacity: 0.5;
    transform: translateX(0);
  }
}
