body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Share Tech Mono", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.8),
      rgb(0, 0, 0)
    ),
    url("img/background01.jpg");
  background-size: cover;
  color: rgb(45, 213, 255);
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
